.side-bar
  .side-bar__user-name
    .side-bar__user-name--top-item
      .side-bar__user-name--top-item__name shun
      .side-bar__user-name--top-item__icons 
        .side-bar__user-name--top-item__icons--edit
          = link_to '#', class: "icons" do
            %i.fas.fa-edit
        .side-bar__user-name--top-item__icons--cog
          = link_to '#', class: "icons" do
            %i.fa.fa-cog
  -# .side-bar__group-list
  -#  .big_box
  -#    =link_to
  -#     .group_name texch_expert
  -#     .group_message nothing %message

  .side-bar__group-list
    
    .side-bar__group-list--group-name
      .side-bar__group-list--group-name__top-box
        = link_to '#', class: "group" do
          techcamp
      .side-bar__group-list--group-name__bottom-box
        = link_to '#', class: "group" do
          まだメッセージはありません

    .side-bar__group-list--group-name
      .side-bar__group-list--group-name__top-box
        = link_to '#', class: "group" do
          techcamp
      .side-bar__group-list--group-name__bottom-box
        = link_to '#', class: "group" do
          まだメッセージはありません
    
    .side-bar__group-list--group-name
      .side-bar__group-list--group-name__top-box
        = link_to '#', class: "group" do
          techcamp
      .side-bar__group-list--group-name__bottom-box
        = link_to '#', class: "group" do
          まだメッセージはありません
    
    .side-bar__group-list--group-name__bottom-content